

<input type="text" class="form-control" id="textbox-original" placeholder="Type Here" />
<button class="btn btn-success" id="reverse-button">Reverse Text</button>
<input type="text" class="form-control" id="textbox-reversed" />


@section scripts {
    <script src="/Scripts/index.js"></script>
}